src/main/resources/schema/output.xsd

<!--

    Mule Coupa Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

    Coupa Connector com.coupa package contains portions of code based on Coupa4j
    http://code.google.com/p/coupa4j/, under a MIT license:
    http://www.opensource.org/licenses/mit-license.php.

-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-1" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-2" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-3" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-4" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-5" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-6" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-7" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-8" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-9" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-10" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-11" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-12" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-13" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-14" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-15" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-16" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-17" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-18" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-19" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-20" type="xs:string" minOccurs="0"/>
         <xs:element name="account-type" type="account-type-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="account-type-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="user-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="login" type="xs:string" minOccurs="0"/>
         <xs:element name="email" type="xs:string" minOccurs="0"/>
         <xs:element name="employee-number" type="xs:string" minOccurs="0"/>
         <xs:element name="firstname" type="xs:string" minOccurs="0"/>
         <xs:element name="lastname" type="xs:string" minOccurs="0"/>
         <xs:element name="salesforce-id" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="address">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="street1" type="xs:string" minOccurs="0"/>
         <xs:element name="street2" type="xs:string" minOccurs="0"/>
         <xs:element name="city" type="xs:string" minOccurs="0"/>
         <xs:element name="state" type="xs:string" minOccurs="0"/>
         <xs:element name="postal-code" type="xs:string" minOccurs="0"/>
         <xs:element name="attention" type="xs:string" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="country" type="country-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="country-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="budget-line">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="notes" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="amount" type="xs:string" minOccurs="0"/>
         <xs:element name="remaining" type="xs:string" minOccurs="0"/>
         <xs:element name="owner-is-approver" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-1" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-2" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-3" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-4" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-5" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-6" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-7" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-8" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-9" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-10" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-11" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-12" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-13" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-14" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-15" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-16" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-17" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-18" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-19" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-20" type="xs:string" minOccurs="0"/>
         <xs:element name="period" type="period-summary" minOccurs="0"/>
         <xs:element name="owner" type="user-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="period-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="start-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="is-open" type="xs:boolean" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
         <xs:element name="segment-1" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-2" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-3" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-4" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-5" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-6" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-7" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-8" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-9" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-10" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-11" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-12" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-13" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-14" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-15" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-16" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-17" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-18" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-19" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-20" type="xs:boolean" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="account-type" type="account-type-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="currency-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="contract">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="version" type="xs:integer" minOccurs="0"/>
         <xs:element name="start-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="minimum-value" type="xs:decimal" minOccurs="0"/>
         <xs:element name="maximum-value" type="xs:decimal" minOccurs="0"/>
         <xs:element name="terms" type="xs:string" minOccurs="0"/>
         <xs:element name="preferred" type="xs:boolean" minOccurs="0"/>
         <xs:element name="savings-pct" type="xs:decimal" minOccurs="0"/>
         <xs:element name="min-commit" type="xs:decimal" minOccurs="0"/>
         <xs:element name="max-commit" type="xs:decimal" minOccurs="0"/>
         <xs:element name="supplier-invoiceable" type="xs:string" minOccurs="0"/>
         <xs:element name="is-default" type="xs:string" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="content-groups" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="content-group" type="business-group-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="default-account" type="account-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="supplier-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="primary-contact" type="contact-summary" minOccurs="0"/>
         <xs:element name="primary-address" type="address-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="contact-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="email" type="xs:string" minOccurs="0"/>
         <xs:element name="name-prefix" type="xs:string" minOccurs="0"/>
         <xs:element name="name-suffix" type="xs:string" minOccurs="0"/>
         <xs:element name="name-additional" type="xs:string" minOccurs="0"/>
         <xs:element name="name-given" type="xs:string" minOccurs="0"/>
         <xs:element name="name-family" type="xs:string" minOccurs="0"/>
         <xs:element name="name-fullname" type="xs:string" minOccurs="0"/>
         <xs:element name="notes" type="xs:string" minOccurs="0"/>
         <xs:element name="phone-work" type="phone-number-summary" minOccurs="0"/>
         <xs:element name="phone-mobile" type="phone-number-summary" minOccurs="0"/>
         <xs:element name="phone-fax" type="phone-number-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="phone-number-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="country-code" type="xs:string" minOccurs="0"/>
         <xs:element name="area-code" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="extension" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="address-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="street1" type="xs:string" minOccurs="0"/>
         <xs:element name="street2" type="xs:string" minOccurs="0"/>
         <xs:element name="city" type="xs:string" minOccurs="0"/>
         <xs:element name="state" type="xs:string" minOccurs="0"/>
         <xs:element name="postal-code" type="xs:string" minOccurs="0"/>
         <xs:element name="attention" type="xs:string" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="country" type="country-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="business-group-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="account-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="segment-1" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-2" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-3" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-4" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-5" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-6" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-7" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-8" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-9" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-10" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-11" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-12" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-13" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-14" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-15" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-16" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-17" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-18" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-19" type="xs:string" minOccurs="0"/>
         <xs:element name="segment-20" type="xs:string" minOccurs="0"/>
         <xs:element name="account-type" type="account-type-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="commodity">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="currency">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="exchange-rate">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="rate" type="xs:decimal" minOccurs="0"/>
         <xs:element name="rate-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="from-currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="to-currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="expense-report">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="title" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="submitted-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="auditor-note" type="xs:string" minOccurs="0"/>
         <xs:element name="reject-reason" type="xs:string" minOccurs="0"/>
         <xs:element name="paid" type="xs:boolean" minOccurs="0"/>
         <xs:element name="total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="audit-score" type="xs:string" minOccurs="0"/>
         <xs:element name="exported" type="xs:boolean" minOccurs="0"/>
         <xs:element name="payment" type="payment-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="expensed-by" type="user-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
         <xs:element name="expense-lines" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="expense-line" type="expense-line-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="events" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="event" type="expense-report-event-history-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="expense-policy-violations" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="expense-policy-violation" type="expense-policy-violation-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="approvals" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="approval" type="approval-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="payment-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="payable-type" type="xs:string" minOccurs="0"/>
         <xs:element name="notes" type="xs:string" minOccurs="0"/>
         <xs:element name="payable-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="payment-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="amount-paid" type="xs:decimal" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="expense-line-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="merchant" type="xs:string" minOccurs="0"/>
         <xs:element name="reason" type="xs:string" minOccurs="0"/>
         <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="approved-amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="reporting-total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="accounting-total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="order-line-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="expense-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="expense-category" type="expense-category-summary" minOccurs="0"/>
         <xs:element name="account" type="account-summary" minOccurs="0"/>
         <xs:element name="period" type="period-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="accounting-total-currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="expensed-by" type="user-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="expense-category-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="expense-report-event-history-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="expense-policy-violation-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="limit-exceeded" type="xs:decimal" minOccurs="0"/>
         <xs:element name="receipt-missing" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="approval-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="position" type="xs:integer" minOccurs="0"/>
         <xs:element name="approval-chain-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="approval-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="note" type="xs:string" minOccurs="0"/>
         <xs:element name="type" type="xs:string" minOccurs="0"/>
         <xs:element name="approvable-type" type="xs:string" minOccurs="0"/>
         <xs:element name="approvable-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="inventory-transaction">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="barcode" type="xs:string" minOccurs="0"/>
         <xs:element name="price" type="xs:decimal" minOccurs="0"/>
         <xs:element name="quantity" type="xs:float" minOccurs="0"/>
         <xs:element name="rfid-tag" type="xs:string" minOccurs="0"/>
         <xs:element name="total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="type" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="exported" type="xs:boolean" minOccurs="0"/>
         <xs:element name="account" type="account-summary" minOccurs="0"/>
         <xs:element name="order-line" type="order-line-summary" minOccurs="0"/>
         <xs:element name="from-warehouse-location" type="warehouse-location-summary" minOccurs="0"/>
         <xs:element name="inspection-code" type="inspection-code-summary" minOccurs="0"/>
         <xs:element name="item" type="item-summary" minOccurs="0"/>
         <xs:element name="to-warehouse-location" type="warehouse-location-summary" minOccurs="0"/>
         <xs:element name="uom" type="uom-summary" minOccurs="0"/>
         <xs:element name="asset-tags" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="asset-tag" type="asset-tag-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-link-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="order-line-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="accounting-total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="accounting-total-currency" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="invoiced" type="xs:decimal" minOccurs="0"/>
         <xs:element name="line-num" type="xs:integer" minOccurs="0"/>
         <xs:element name="need-by-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="order-header-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="price" type="xs:decimal" minOccurs="0"/>
         <xs:element name="quantity" type="xs:float" minOccurs="0"/>
         <xs:element name="received" type="xs:decimal" minOccurs="0"/>
         <xs:element name="source-part-num" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="sub-line-num" type="xs:integer" minOccurs="0"/>
         <xs:element name="supp-aux-part-num" type="xs:string" minOccurs="0"/>
         <xs:element name="total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="type" type="xs:string" minOccurs="0"/>
         <xs:element name="version" type="xs:integer" minOccurs="0"/>
         <xs:element name="savings-pct" type="xs:decimal" minOccurs="0"/>
         <xs:element name="reporting-total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="supplier-order-number" type="xs:string" minOccurs="0"/>
         <xs:element name="account" type="account-summary" minOccurs="0"/>
         <xs:element name="contract" type="contract-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="commodity" type="commodity-summary" minOccurs="0"/>
         <xs:element name="department" type="department-summary" minOccurs="0"/>
         <xs:element name="form-response" type="form-response-summary" minOccurs="0"/>
         <xs:element name="item" type="item-summary" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="uom" type="uom-summary" minOccurs="0"/>
         <xs:element name="asset-tags" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="asset-tag" type="asset-tag-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="period" type="period-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
         <xs:element name="deleted" type="xs:boolean" minOccurs="0"/>
         <xs:element name="created" type="xs:boolean" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="contract-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="version" type="xs:integer" minOccurs="0"/>
         <xs:element name="start-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="minimum-value" type="xs:decimal" minOccurs="0"/>
         <xs:element name="maximum-value" type="xs:decimal" minOccurs="0"/>
         <xs:element name="terms" type="xs:string" minOccurs="0"/>
         <xs:element name="preferred" type="xs:boolean" minOccurs="0"/>
         <xs:element name="savings-pct" type="xs:decimal" minOccurs="0"/>
         <xs:element name="min-commit" type="xs:decimal" minOccurs="0"/>
         <xs:element name="max-commit" type="xs:decimal" minOccurs="0"/>
         <xs:element name="supplier-invoiceable" type="xs:string" minOccurs="0"/>
         <xs:element name="is-default" type="xs:string" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="content-groups" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="content-group" type="business-group-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="default-account" type="account-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="commodity-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="department-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="form-response-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="item-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="item-number" type="xs:string" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="commodity" type="commodity-summary" minOccurs="0"/>
         <xs:element name="receiving-form" type="form-summary" minOccurs="0"/>
         <xs:element name="uom" type="uom-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="form-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="form-type" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="uom-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="allowable-precision" type="xs:integer" minOccurs="0"/>
         <xs:element name="active" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="asset-tag-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="tag" type="xs:string" minOccurs="0"/>
         <xs:element name="received" type="xs:boolean" minOccurs="0"/>
         <xs:element name="order-line-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="requisition-line-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="inventory-balance-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="serial-number" type="xs:string" minOccurs="0"/>
         <xs:element name="owner" type="xs:string" minOccurs="0"/>
         <xs:element name="note" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="attachment-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="type" type="xs:string" minOccurs="0"/>
         <xs:element name="intent" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="warehouse-location-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="aisle" type="xs:string" minOccurs="0"/>
         <xs:element name="bin" type="xs:string" minOccurs="0"/>
         <xs:element name="level" type="xs:string" minOccurs="0"/>
         <xs:element name="warehouse" type="warehouse-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="warehouse-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="active-flag" type="xs:boolean" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="address" type="address-summary" minOccurs="0"/>
         <xs:element name="warehouse-type" type="warehouse-type-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="warehouse-type-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="inspection-code-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="attachment-link-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="intent" type="xs:string" minOccurs="0"/>
         <xs:element name="attachment" type="attachment-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="invoice-header">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="comments" type="xs:string" minOccurs="0"/>
         <xs:element name="handling-amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="internal-note" type="xs:string" minOccurs="0"/>
         <xs:element name="invoice-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="invoice-number" type="xs:string" minOccurs="0"/>
         <xs:element name="line-level-taxation" type="xs:boolean" minOccurs="0"/>
         <xs:element name="misc-amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="shipping-amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="supplier-note" type="xs:string" minOccurs="0"/>
         <xs:element name="tax-amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="tax-rate" type="xs:float" minOccurs="0"/>
         <xs:element name="paid" type="xs:boolean" minOccurs="0"/>
         <xs:element name="payment-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="payment-notes" type="xs:string" minOccurs="0"/>
         <xs:element name="exported" type="xs:boolean" minOccurs="0"/>
         <xs:element name="payments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="payment" type="payment-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="account-type" type="account-type-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="payment-term" type="payment-term-summary" minOccurs="0"/>
         <xs:element name="shipping-term" type="shipping-term-summary" minOccurs="0"/>
         <xs:element name="remit-to-address" type="address-summary" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="tax-code" type="tax-code-summary" minOccurs="0"/>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-link-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invoice-lines" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="invoice-line" type="invoice-line-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="payment-term-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="days-for-net-payment" type="xs:integer" minOccurs="0"/>
         <xs:element name="days-for-discount-payment" type="xs:integer" minOccurs="0"/>
         <xs:element name="discount-rate" type="xs:float" minOccurs="0"/>
         <xs:element name="active" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="shipping-term-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="tax-code-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="invoice-line-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="accounting-total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="line-num" type="xs:integer" minOccurs="0"/>
         <xs:element name="order-header-num" type="xs:string" minOccurs="0"/>
         <xs:element name="order-line-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="order-line-num" type="xs:string" minOccurs="0"/>
         <xs:element name="price" type="xs:decimal" minOccurs="0"/>
         <xs:element name="quantity" type="xs:float" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="tax-rate" type="xs:float" minOccurs="0"/>
         <xs:element name="tax-location" type="xs:string" minOccurs="0"/>
         <xs:element name="tax-amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="tax-description" type="xs:string" minOccurs="0"/>
         <xs:element name="tax-supply-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="type" type="xs:string" minOccurs="0"/>
         <xs:element name="account" type="account-summary" minOccurs="0"/>
         <xs:element name="accounting-total-currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="item" type="item-summary" minOccurs="0"/>
         <xs:element name="tax-code" type="tax-code-summary" minOccurs="0"/>
         <xs:element name="uom" type="uom-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="item">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="item-number" type="xs:string" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="commodity" type="commodity-summary" minOccurs="0"/>
         <xs:element name="receiving-form" type="form-summary" minOccurs="0"/>
         <xs:element name="uom" type="uom-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="payment-term">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="days-for-net-payment" type="xs:integer" minOccurs="0"/>
         <xs:element name="days-for-discount-payment" type="xs:integer" minOccurs="0"/>
         <xs:element name="discount-rate" type="xs:float" minOccurs="0"/>
         <xs:element name="active" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="pcard">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="expiry" type="xs:string" minOccurs="0"/>
         <xs:element name="cvv" type="xs:string" minOccurs="0"/>
         <xs:element name="nickname" type="xs:string" minOccurs="0"/>
         <xs:element name="shared" type="xs:boolean" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="punchout-site">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="url" type="xs:string" minOccurs="0"/>
         <xs:element name="domain" type="xs:string" minOccurs="0"/>
         <xs:element name="identity" type="xs:string" minOccurs="0"/>
         <xs:element name="secret" type="xs:string" minOccurs="0"/>
         <xs:element name="sender-domain" type="xs:string" minOccurs="0"/>
         <xs:element name="sender-identity" type="xs:string" minOccurs="0"/>
         <xs:element name="protocol" type="xs:string" minOccurs="0"/>
         <xs:element name="supplier-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="order-header-revision">
      <xs:all>
         <xs:element name="revision-record">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="revision" type="xs:integer"/>
                  <xs:element name="id" type="xs:integer"/>
                  <xs:element name="created-at" type="xs:dateTime"/>
                  <xs:element name="created-by" type="xs:integer"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="comments" type="xs:string"/>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:dateTime" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:dateTime" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updated-at" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:dateTime" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:dateTime" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="acknowledged-flag" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:boolean" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:boolean" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="status" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:string" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:string" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="transmission-status" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:string" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:string" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="version" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:integer" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:integer" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="exported" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="xs:boolean" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="xs:boolean" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="pcard" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="pcard-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="pcard-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ship-to-address" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="address-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="address-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ship-to-user" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="user-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="user-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="supplier" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="supplier-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="supplier-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="payment-term" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="payment-term-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="payment-term-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="shipping-term" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="shipping-term-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="shipping-term-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="order-lines" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="order-line" type="order-line-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="user-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="user-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updated-by" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="from" type="user-summary" minOccurs="0" nillable="true"/>
                  <xs:element name="to" type="user-summary" minOccurs="0" nillable="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="pcard-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="expiry" type="xs:string" minOccurs="0"/>
         <xs:element name="cvv" type="xs:string" minOccurs="0"/>
         <xs:element name="nickname" type="xs:string" minOccurs="0"/>
         <xs:element name="shared" type="xs:boolean" minOccurs="0"/>
         <xs:element name="active" type="xs:boolean" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="order-header">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="acknowledged-flag" type="xs:boolean" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="transmission-status" type="xs:string" minOccurs="0"/>
         <xs:element name="version" type="xs:integer" minOccurs="0"/>
         <xs:element name="exported" type="xs:boolean" minOccurs="0"/>
         <xs:element name="pcard" type="pcard-summary" minOccurs="0"/>
         <xs:element name="ship-to-address" type="address-summary" minOccurs="0"/>
         <xs:element name="ship-to-user" type="user-summary" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="payment-term" type="payment-term-summary" minOccurs="0"/>
         <xs:element name="shipping-term" type="shipping-term-summary" minOccurs="0"/>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="order-lines" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="order-line" type="order-line-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="requisition-header">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="buyer-note" type="xs:string" minOccurs="0"/>
         <xs:element name="justification" type="xs:string" minOccurs="0"/>
         <xs:element name="need-by-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="reject-reason-comment" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="submitted-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="exported" type="xs:boolean" minOccurs="0"/>
         <xs:element name="ship-to-attention" type="xs:string" minOccurs="0"/>
         <xs:element name="total" type="xs:string" minOccurs="0"/>
         <xs:element name="department" type="department-summary" minOccurs="0"/>
         <xs:element name="pcard" type="pcard-summary" minOccurs="0"/>
         <xs:element name="requested-by" type="user-summary" minOccurs="0"/>
         <xs:element name="ship-to-address" type="address-summary" minOccurs="0"/>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="requisition-lines" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="requisition-line" type="requisition-line-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="approvals" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="approval" type="approval-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="requisition-line-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="line-num" type="xs:integer" minOccurs="0"/>
         <xs:element name="need-by-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="order-line-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="quantity" type="xs:float" minOccurs="0"/>
         <xs:element name="source-part-num" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="sub-line-num" type="xs:integer" minOccurs="0"/>
         <xs:element name="supp-aux-part-num" type="xs:string" minOccurs="0"/>
         <xs:element name="total" type="xs:decimal" minOccurs="0"/>
         <xs:element name="source-type" type="xs:string" minOccurs="0"/>
         <xs:element name="line-type" type="xs:string" minOccurs="0"/>
         <xs:element name="unit-price" type="xs:decimal" minOccurs="0"/>
         <xs:element name="account" type="account-summary" minOccurs="0"/>
         <xs:element name="item" type="item-summary" minOccurs="0"/>
         <xs:element name="commodity" type="commodity-summary" minOccurs="0"/>
         <xs:element name="contract" type="contract-summary" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="form-response" type="form-response-summary" minOccurs="0"/>
         <xs:element name="punchout-site" type="punchout-site-summary" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="uom" type="uom-summary" minOccurs="0"/>
         <xs:element name="payment-term" type="payment-term-summary" minOccurs="0"/>
         <xs:element name="shipping-term" type="shipping-term-summary" minOccurs="0"/>
         <xs:element name="asset-tags" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="asset-tag" type="asset-tag-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="attachments" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attachment" type="attachment-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="punchout-site-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="url" type="xs:string" minOccurs="0"/>
         <xs:element name="domain" type="xs:string" minOccurs="0"/>
         <xs:element name="identity" type="xs:string" minOccurs="0"/>
         <xs:element name="secret" type="xs:string" minOccurs="0"/>
         <xs:element name="sender-domain" type="xs:string" minOccurs="0"/>
         <xs:element name="sender-identity" type="xs:string" minOccurs="0"/>
         <xs:element name="protocol" type="xs:string" minOccurs="0"/>
         <xs:element name="supplier-id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="shipping-term">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="code" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="supplier">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="number" type="xs:string" minOccurs="0"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
         <xs:element name="website" type="xs:string" minOccurs="0"/>
         <xs:element name="po-method" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-url" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-domain" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-identity" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-supplier-domain" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-supplier-identity" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-secret" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-protocol" type="xs:string" minOccurs="0"/>
         <xs:element name="po-email" type="xs:string" minOccurs="0"/>
         <xs:element name="account-number" type="xs:string" minOccurs="0"/>
         <xs:element name="duns" type="xs:string" minOccurs="0"/>
         <xs:element name="tax-id" type="xs:string" minOccurs="0"/>
         <xs:element name="coupa-connect-secret" type="xs:string" minOccurs="0"/>
         <xs:element name="buyer-hold" type="xs:boolean" minOccurs="0"/>
         <xs:element name="invoice-matching-level" type="xs:string" minOccurs="0"/>
         <xs:element name="allow-cxml-invoicing" type="xs:boolean" minOccurs="0"/>
         <xs:element name="cxml-invoice-supplier-domain" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-invoice-supplier-identity" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-invoice-buyer-domain" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-invoice-buyer-identity" type="xs:string" minOccurs="0"/>
         <xs:element name="cxml-invoice-secret" type="xs:string" minOccurs="0"/>
         <xs:element name="on-hold" type="xs:boolean" minOccurs="0"/>
         <xs:element name="primary-contact" type="contact-summary" minOccurs="0"/>
         <xs:element name="primary-address" type="address-summary" minOccurs="0"/>
         <xs:element name="payment-term" type="payment-term-summary" minOccurs="0"/>
         <xs:element name="shipping-term" type="shipping-term-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="user">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="login" type="xs:string" minOccurs="0"/>
         <xs:element name="email" type="xs:string" minOccurs="0"/>
         <xs:element name="purchasing-user" type="xs:string" minOccurs="0"/>
         <xs:element name="expense-user" type="xs:string" minOccurs="0"/>
         <xs:element name="employee-number" type="xs:string" minOccurs="0"/>
         <xs:element name="phone-work" type="xs:string" minOccurs="0"/>
         <xs:element name="phone-mobile" type="xs:string" minOccurs="0"/>
         <xs:element name="firstname" type="xs:string" minOccurs="0"/>
         <xs:element name="lastname" type="xs:string" minOccurs="0"/>
         <xs:element name="fullname" type="xs:string" minOccurs="0"/>
         <xs:element name="api-user" type="xs:string" minOccurs="0"/>
         <xs:element name="active" type="xs:string" minOccurs="0"/>
         <xs:element name="salesforce-id" type="xs:string" minOccurs="0"/>
         <xs:element name="account-security-type" type="xs:integer" minOccurs="0"/>
         <xs:element name="authentication-method" type="xs:string" minOccurs="0"/>
         <xs:element name="sso-identifier" type="xs:string" minOccurs="0"/>
         <xs:element name="roles" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="role" type="role-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="manager" type="user-summary" minOccurs="0"/>
         <xs:element name="default-address" type="address-summary" minOccurs="0"/>
         <xs:element name="default-account" type="account-summary" minOccurs="0"/>
         <xs:element name="default-account-type" type="account-type-summary" minOccurs="0"/>
         <xs:element name="default-currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="pcard" type="pcard-summary" minOccurs="0"/>
         <xs:element name="department" type="department-summary" minOccurs="0"/>
         <xs:element name="approval-limit" type="approval-limit-summary" minOccurs="0"/>
         <xs:element name="self-approval-limit" type="approval-limit-summary" minOccurs="0"/>
         <xs:element name="content-groups" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="content-group" type="business-group-summary" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="role-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="approval-limit-summary">
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="created-by" type="user-summary" minOccurs="0"/>
         <xs:element name="updated-by" type="user-summary" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:element name="account" type="account"/>
   <xs:element name="accounts">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="account" type="account" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="address" type="address"/>
   <xs:element name="addresses">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="budget-line" type="budget-line"/>
   <xs:element name="budget-lines">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="budget-line" type="budget-line" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="contract" type="contract"/>
   <xs:element name="contracts">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="contract" type="contract" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="commodity" type="commodity"/>
   <xs:element name="commodities">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="commodity" type="commodity" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="currency" type="currency"/>
   <xs:element name="currencies">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="currency" type="currency" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="exchange-rate" type="exchange-rate"/>
   <xs:element name="exchange-rates">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="exchange-rate" type="exchange-rate" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="expense-report" type="expense-report"/>
   <xs:element name="expense-reports">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="expense-report" type="expense-report" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="inventory-transaction" type="inventory-transaction"/>
   <xs:element name="inventory-transactions">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="inventory-transaction" type="inventory-transaction" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="invoice-header" type="invoice-header"/>
   <xs:element name="invoice-headers">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="invoice-header" type="invoice-header" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="item" type="item"/>
   <xs:element name="items">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="item" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="payment-term" type="payment-term"/>
   <xs:element name="payment-terms">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="payment-term" type="payment-term" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="pcard" type="pcard"/>
   <xs:element name="pcards">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="pcard" type="pcard" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="punchout-site" type="punchout-site"/>
   <xs:element name="punchout-sites">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="punchout-site" type="punchout-site" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="order-header-revision" type="order-header-revision"/>
   <xs:element name="order-header-revisions">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="order-header-revision" type="order-header-revision" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="order-header" type="order-header"/>
   <xs:element name="order-headers">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="order-header" type="order-header" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="requisition-header" type="requisition-header"/>
   <xs:element name="requisition-headers">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="requisition-header" type="requisition-header" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="shipping-term" type="shipping-term"/>
   <xs:element name="shipping-terms">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="shipping-term" type="shipping-term" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="supplier" type="supplier"/>
   <xs:element name="suppliers">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="supplier" type="supplier" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="user" type="user"/>
   <xs:element name="users">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="user" type="user" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="supplier-item">
   <xs:complexType>
      <xs:all>
         <xs:element name="id" type="xs:integer" minOccurs="0"/>
         <xs:element name="price" type="xs:decimal" minOccurs="0"/>
         <xs:element name="supplier-part-num" type="xs:string" minOccurs="0"/>
         <xs:element name="lead-time" type="xs:integer" minOccurs="0"/>
         <xs:element name="preferred" type="xs:boolean" minOccurs="0"/>
         <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
         <xs:element name="price-change" type="xs:decimal" minOccurs="0"/>
         <xs:element name="savings-pct" type="xs:decimal" minOccurs="0"/>
         <xs:element name="created-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-at" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="created-by" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="updated-by" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="currency" type="currency-summary" minOccurs="0"/>
         <xs:element name="supplier" type="supplier-summary" minOccurs="0"/>
         <xs:element name="item" type="item" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   </xs:element>
   <xs:element  name="invoice-payment">
   <xs:complexType>
      <xs:all>
         <xs:element name="paid" type="xs:boolean" minOccurs="0"/>
         <xs:element name="payment-date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="payment-notes" type="xs:string" minOccurs="0"/>
         <xs:element name="payments" type="payments"/>
      </xs:all>
   </xs:complexType>
  </xs:element> 
   <xs:complexType name="payments">
     <xs:sequence>
        <xs:element name="payment" type="payment" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
   </xs:complexType>
   
    <xs:complexType name="payment">
       <xs:all>
          <xs:element name="amount-paid" type="xs:decimal" minOccurs="0"/>
          <xs:element name="notes" type="xs:string" minOccurs="0"/>
          <xs:element name="payment-date" type="xs:dateTime" minOccurs="0"/>
       </xs:all>
    </xs:complexType>
   
   
</xs:schema>
